#review {
  display:none;
}

#cost {
  display:none;
}

.size {
  font-size: 30px;
}

p {
  font-size:18px;
}

.jumbotron {
  background-color: #89D277;
}

.form-group {
  font-size:20px;
}

img {
  height:
}
